body {
    max-width: 80%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(29, 120, 199);
}

#parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    text-align: center;
}

.card {
    border: solid black 1px;
    padding: 25px;
}

.card > h1 {
    height: 60px;
    font-size: 24px;
}

.card img {
    width: 200px;
    height: 300px;
}